*{
    transition: 0.5s;
}

@media(max-width:1340px){
    button{
        height: 5vw;
    }
    .homeContent{
        margin-top: 2rem;
    }
}
@media(max-width:1096px){
    button{
        width: 75vw;
        height: 6vw;
    }
    .homeContent{
        margin-top: 4rem;
    }
}
@media(max-width:1000px){
    button{
        width: 90vw;
        height: 8vw;
    }
    .homeContent{
        margin-top: 5rem;
    }
    .headContent h1{
        font-size: 5vw;
        color: #fff;
        letter-spacing: 1px;
    }
    
    .headContent p{
        font-size: 4vw;
        color: #fff;
    }

    .btn{
        margin-top: 3rem;
    }

    .footContainer{
        width: 94%;
        margin-left: 1rem;
    }
    .footLeft h3{
        font-size: 2rem;
    }
    .footLeft p{
        font-size: 1rem;
    }
    .footRight h3{
        font-size: 2rem;
    }
    .footRight p{
        font-size: 1rem;
    }
}

@media(max-width:820px){
    nav{
        justify-content: space-around;
    }
    nav ul{
        display: none;
    }
    .portfolio{
        display: none;
    }
    .ham li a{
        display: inline-block;
    }
    .mainMenu {
        margin: auto;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;    
        margin-left: -2rem;
        left: 0;
        line-height: 5rem;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right bottom,
        #001289, #251292, #3a119b, #4d0ea3, #5f0aab, #6a0097, #6e0085, #6f0074, #5b014d, #42082f, #260b18, #000000);
        transition: top 1s ease;
        display: none;
    }
    


    .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 2rem;
        right: 3.5rem;
    }
    .openMenu {
        display: block;
        margin-top: 2px;
    }
    .mainMenu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
    }

}

@media(max-width:774px){
    button{
        width: 90vw;
        height: 12vw;
    }

    .footRight{
        margin-top: 5rem;
    }
    .btn1{
        font-weight: 800;
        margin-left: 0rem;
        margin-top: 3rem;
    }
}

@media(max-width:700px){
    .bgnew{
        width: 100vh;
    }
}


@media(max-width:605px){
    .homeContent {
        margin-top: 1rem;
    }
    .headContent {
        width: 20rem;
        margin: auto;
    }
    .headContent h1 {
        font-size: 2rem;
        color: #fff;
        letter-spacing: 1px;
    }
    .headContent p {
        font-size: 1.5rem;
        color: #fff;
    }
    .logo{
        font-size: 20px;
        margin-top: 4px;
    }
    button{
        width: 75vw;
        height: 20vw;
    }

    .bgnew{
        width: 100%;
    }
    .section{
        width: 100%;
    }
}

@media(max-width:420px){
    .homeContent {
        margin-top: 2rem;
    }
    .headContent h1 {
        font-size: 2.5rem;
        color: #fff;
        letter-spacing: 1px;
    }
    .headContent p {
        font-size: 1.5rem;
        color: #fff;
    }
    .copyright{
        text-align: center;
        font-size: 1rem;
    }
}

@media(max-width:320px){

    .headContent {
        width: 15rem;
        margin: auto;
    }
    .homeContent {
        margin-top: 2rem;
    }
    .headContent h1 {
        font-size: 2rem;
        color: #fff;
        letter-spacing: 1px;
    }
    .headContent p {
        font-size: 1rem;
        color: #fff;
    }
}




@media(max-width:770px){

    .footLeft{
        width: 100%;
    }
    .footRight{
        width: 100%;
    }


}

@media(max-width:500px){

.copyright{
    margin-top:4rem
}

.footContainer{
    margin-top:2rem;
}
} 